
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('media/logo/favicon.ico') }}" type="image/x-icon" />

    <!-- Title -->
    <title>
        {% block title %} Connexion{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<!-- CONTENT -->
<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center gx-0 min-vh-100">
            <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

                <!-- Heading -->
                <h1 class="mb-0 fw-bold" data-aos="fade-right">
                    Ouvrir une session
                </h1>

                <!-- Text -->
                <p class="mb-6 text-muted" data-aos="fade-right">
                    Administration du site internet
                </p>

                <!-- Form -->
                <form method="post" data-aos="fade-right">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.nom }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="btn btn-lg btn-primary mt-4" type="submit">
                        Ouvrir une Session
                    </button>
                </form>

                <!-- Text -->
                <p class="mb-0 fs-sm text-muted" data-aos="fade-right">
                    Vous n'avez pas encore de compte ? <a href="{{ path('app_logout') }}">Deconnexion</a>.
                </p>

            </div>
            <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block">

                <!-- Image -->
                <div class="h-100 w-cover bg-cover" style="background-image: url({{ asset('media/images/login.jpg') }});" data-aos="fade-left"></div>

                <!-- Shape -->
                <div class="shape shape-start shape-fluid-y text-white">
                    <svg viewBox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>            </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
