{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block body %}
    <section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url({{ asset('media/logo/acceuil.jpg') }});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7 text-center">

                    <!-- Heading -->
                    <h1 class="display-2 fw-bold text-white">
                        Actualités
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <!-- ARTICLES -->
    <section class="pt-7 pt-md-10">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-12 col-md">

                    <!-- Heading -->
                    <h1 class="mb-0 text-center">
                        Toute l'Actualité rambaud Labrosse
                    </h1><br>
                    <div class="text-center">

                        <select class="form-select" aria-label="Default select example">
                            <option selected>Filtrer nos actualités</option>
                            {% for categorie in categories %}
                            <option value="1">{{ categorie.nom }}</option>
                            {% endfor %}
                        </select>

                    </div>

                </div>

            </div> <!-- / .row -->
            <div class="row">
                {% for article in articles %}

                    <div class="col-12 col-md-6 col-lg-4 d-flex mt-8 lift lift-lg">

                        <!-- Card -->
                        <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg" data-aos="zoom-in-up">

                            <!-- Image -->
                            <a class="card-img-top" href="{{ path('id_actualite', {'id':article.id}) }}">

                                <!-- Image -->
                                <img src="{{ article.file }}" alt="image article" class="card-img-top">

                                <!-- Shape -->
                                <div class="position-relative">
                                    <div class="shape shape-bottom shape-fluid-x text-white">
                                        <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z" fill="currentColor"/></svg>                  </div>
                                </div>



                            <!-- Body -->
                            <a class="card-body" href="{{ path('id_actualite', {'id':article.id}) }}">

                                <!-- Heading -->
                                <h3 class="text-capitalize">
                                    {{ article.title }}
                                </h3>

                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    {{ article.content|u.truncate(200, '...', false) }}
                                </p>

                            </a>

                            <!-- Meta -->
                            <a class="card-meta mt-auto" href="{{ path('id_actualite', {'id':article.id}) }}">

                                <!-- Divider -->
                                <hr class="card-meta-divider">


                                <!-- Author -->
                                <h6 class=" text-muted me-2 mb-0 badge bg-primary-soft">
                                    Lire la suite >
                                </h6>

                                <!-- Date -->
                                <p class="h6  text-muted mb-0 ms-auto">
                                    <time datetime="2019-05-02">Publié le {{ article.createdAt|date('d/m/Y') }}</time>
                                </p>

                            </a>
                           </a>

                        </div>

                    </div>
                {% endfor %}

            </div> <!-- / .row -->
        </div> <!-- / .container -->
        <div class="d-flex justify-content-center mt-5">
            {% do articles.setPageRange(2) %}
            {{ knp_pagination_render(articles, 'pagination/pagination.html.twig') }}
        </div>
    </section>


{% endblock %}
