{% extends "base.html.twig" %}

{% block body %}
<!-- WELCOME -->
<section data-jarallax data-speed=".8" class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover jarallax" style="background-image: url({{ articles.file }});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7 text-center">

                <!-- Heading -->
                <h1 class="display-2 fw-bold text-white">
                    {{ articles.title }}
                </h1>



            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- SHAPE -->
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-light">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg></div>
</div>


    <!-- HEADER -->
    <section class="pt-8 pt-md-11">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">

                    <!-- Heading -->
                    <h1 class="display-4 text-center">
                        {{ articles.title }}
                    </h1>

                    <!-- Text -->
                    <p class="lead mb-7 text-center text-muted">
                        {{ articles.content }}
                    </p>



                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->

        {{ include('actualite/continue.html.twig') }}
    </section>



{% endblock %}
