
<!-- WELCOME -->
<section data-jarallax data-speed=".8" class="pt-12 pb-10 pt-md-15 pb-md-14 " >
    <div class="videobg">
        <video muted loop autoplay playsinline>
            <source src="{{ asset('media/videos/Euribron_spot_.mp4') }}" type="video/mp4" >
        </video>

    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-8 col-lg-6">

                <!-- Heading -->
                <h1 class="display-3 fw-bold text-white" id="welcomeHeadingSource">
                     <br />
                    <span class="text-warning " data-typed='{"strings": ["Flottes", "Gestion de biens", "Assurance", "Sinistres"]}'></span>
                </h1>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


<!-- BLOG -->
<section class="py-8 py-md-11 bg-gradient-dark-black ">
    <h1 class="text-gray-500 text-center mb-7"><span class="en_ligne">LA GESTION EN LIGNE DE</span> RAMBAUD LABROSSE</h1>
      <div class="col-12 " data-aos="zoom-in">
        <div class="row justify-content-around">

            <div class="col-12 col-md-5 col-lg-2">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg lift lift-lg" style="background-image: url({{ asset('media/images/Gestion_Flottes_Auto.jpg') }});">

                    <!-- Body -->
                    <a class="card-body mt-auto" href="#">
                        <!-- Heading -->
                        <h2 class="text-white header-devis">
                            Gestion Flottes Automobiles
                        </h2>
                    </a>

                </div>

            </div>

            <div class="col-12 col-md-5 col-lg-2">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg lift lift-lg" style="background-image: url({{ asset('media/images/paiement.jpg') }});">

                    <!-- Body -->
                    <a class="card-body mt-auto" href="https://rambaud.iga.fr/PAYBOX/iga_paybox.php?contexte=PROD">

                        <!-- Heading -->
                        <h2 class="text-white header-devis">
                            Paiement & attestation d'assurance
                        </h2>

                    </a>

                </div>

            </div>

            <div class="col-12 col-md-5 col-lg-2">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg lift lift-lg" style="background-image: url({{ asset('media/images/Espace_client_admin.jpg') }});">

                    <!-- Body -->
                    <a class="card-body mt-auto" href="https://client.rambaud-labrosse.com/login" target="_blank">

                        <!-- Heading -->
                        <h2 class="text-white header-devis">
                            Espace client Administrateur de bien
                        </h2>

                    </a>


                </div>

            </div>

            <div class="col-12 col-md-5 col-lg-2">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 pt-14 overlay overlay-black overlay-30 bg-cover shadow-light-lg lift lift-lg" style="background-image: url({{ asset('media/images/Espace_client_Synd.jpg') }});">

                    <!-- Body -->
                    <a class="card-body mt-auto" href="#!">

                        <!-- Heading -->
                        <h2 class="text-white header-devis">
                            Espace client Syndics
                        </h2>
                    </a>
                </div>
            </div>
        </div> <!-- / .row -->

    </div> <!-- / .container -->
</section>
{{ include('acceuil/devistemplate.html.twig') }}







